@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {

    --black: #000000;
    --white: #ffffff;
    --grey: #808080;
    --blackLight: #1f1f1f;
    --greenFarm: #6AB04A;
    --brownSoil: #A67C52;
    --yellowSun: #F0C808;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Oswald", arial, serif;
    overflow-x: hidden;
}
